<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      View hospitals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Request</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Request</ion-card-title>
      <ion-card-subtitle>Explain your problem, and how others can help</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-input type="text" placeholder="Problem" [(ngModel)]="problem" name="problem"></ion-input>
      <ion-input type="text" placeholder="Description" [(ngModel)]="description" name="description"></ion-input>
      <ion-button (click)="sendRequest()">Request Help</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="notifications"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
