ion-content{
    --background: #FEECEC; 
}
ion-toolbar{
    --background: #FEECEC; 
    color: #EB9497;
    font-family: "Europa-bold";
}
.card {
    margin: 40px; 
    ion-card-header{
        opacity: 0.75;
        --background: #c75f5f;
        color: white;
        font-family: "Europa-bold";  
    }
    ion-card-title{
        color: white;
        font-family: "Europa-bold";  
    }
}
agm-map{
    width: 350px; 
    height: 300px;
}
