
<ion-content [fullscreen]="true">
 
   <div class="topText" align="center">
    <h2 style="font-size:35px">Dashboard</h2>
   </div>
     
   

  <div class="top" align="center">
    <h2>Your Capacity.</h2>
    <ion-item lines="none">
      <ion-label position="floating" color="light">Current Capacity</ion-label>
      <ion-input type="number" [(ngModel)]="currentCapacity" name=" currentCapacity" required></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating" color="light">Max Capacity</ion-label>
      <ion-input type="number" [(ngModel)]="maxCapacity" name="maxCapacity" required ></ion-input>
    </ion-item>
  </div>
  <div class="middle" align="center">
    <h2>Register your items.</h2>
    <ion-item lines="none">
      <ion-label position="floating" color="light">Masks</ion-label>
      <ion-input type="number" [(ngModel)]="masks" name=" mask" required></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating" color="light">Gloves</ion-label>
      <ion-input type="number" [(ngModel)]="gloves" name="gloves" required ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating" color="light">Suits</ion-label>
      <ion-input type="number" [(ngModel)]="suits" name="suits" required></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating" color="light">Ventilators</ion-label>
      <ion-input type="number" [(ngModel)]="ventilators" name="ventilators" required></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating" color="light">Oxygen Cylinder</ion-label>
      <ion-input type="number" [(ngModel)]="oxygenCylinder" name="oxygenCylinder" required ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating" color="light">Beds</ion-label>
      <ion-input type="number" [(ngModel)]="beds" name="beds" required></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating" color="light">Drugs</ion-label>
      <ion-input type="number" [(ngModel)]="drugs" name="drugs" required ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating" color="light">Pulse Oximeters</ion-label>
      <ion-input type="number" [(ngModel)]="pulseOximeters" name="pulseOximeters" required ></ion-input>
    </ion-item>
    <ion-item lines="none"> 
      <ion-label position="floating" color="light">Blood Pressure Monitors</ion-label>
      <ion-input type="number" [(ngModel)]="bloodPressureMonitors" name="bloodPressureMonitors" required ></ion-input>
    </ion-item>
 
    <ion-button (click)="updateHospitalData()" type="submit" color="light" shape="round"
    expand="block" style="margin-top: 2.5em; margin-bottom: 4px;">Submit</ion-button>
    <ion-button (click)="logout()" type="submit" color="light" shape="round"
    expand="block" style="margin-top: 2.5em; margin-bottom: 4px;">Logout</ion-button>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hospital Accomodation</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{currentCapacity}} / {{maxCapacity}}
      <ion-progress-bar value="{{currentCapacity/maxCapacity}}"></ion-progress-bar>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentModal()">
    <ion-fab-button>
      <ion-icon name="notifications"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
