ion-toolbar{
    background:#f6d9d8;
    border: 1px transparent;
    border-radius: 25px;
    margin: 30px;
}
ion-content{
    --background: #FEECEC; 
}
.top
{ 
    margin: 40px;
   
    border: 1px transparent;
    h2{
        color: #EB9497;
        font-family: "Europa-bold";
        
    }
    ion-item{
        box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.3);
        color: white;
        border: 1px transparent;
        border-radius: 25px;
        --background: #D27578;
        margin-bottom:20px ;
       }
}
.topText{
    background:#f6d9d8;
    border: 1px transparent;
    border-radius: 25px;
    height: 70px;
    margin: 40px;
    color: #EB9497;
    h2{
       
        padding-top: 15px;
        font-family: "Europa-bold";
    }
}
.middle
{
    margin: 40px;
   
    border: 1px transparent;
    border-radius: 20px;
    h2{
        color: #EB9497;
        font-family: "Europa-bold";
        
    }
    ion-item{
    
        box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.3);
        color: white;
        border: 1px transparent;
        border-radius: 25px;
        --background: #D27578;
        margin-bottom:20px ;
        font-family: "Europa-bold";
       }

}
ion-card{
    margin-top: 10px;
    ion-card-header{
        
        --background: #D27578;
        color: white;
        font-family: "Europa-bold";
        
    }
    ion-card-title{
        color: white;  
        font-family: "Europa-bold";
    }
    ion-card-content{
       
        --background: #D27578;
        
        font-family: "Europa-bold";

        p{
            color: #EB9497;
            font-size: 25px;
        }
    }
}
ion-button{
    
    --background: #D27578;
    color: white;
}