<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="top" align="center">
    <h2>Your Capacity.</h2>
    <ion-item>
      <ion-label position="floating">Current Capacity</ion-label>
      <ion-input type="number" [(ngModel)]="currentCapacity" name=" currentCapacity" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Max Capacity</ion-label>
      <ion-input type="number" [(ngModel)]="maxCapacity" name="maxCapacity" required ></ion-input>
    </ion-item>
  </div>
  <div class="middle" align="center">
    <h2>Register your items.</h2>
    <ion-item>
      <ion-label position="floating">Masks</ion-label>
      <ion-input type="number" [(ngModel)]="masks" name=" mask" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gloves</ion-label>
      <ion-input type="number" [(ngModel)]="gloves" name="gloves" required ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Suits</ion-label>
      <ion-input type="number" [(ngModel)]="suits" name="suits" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sanitizer</ion-label>
      <ion-input type="number" [(ngModel)]="sanitizer" name="sanitizer" required ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ventilators</ion-label>
      <ion-input type="number" [(ngModel)]="ventilators" name="ventilators" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">oxygenCylinder</ion-label>
      <ion-input type="number" [(ngModel)]="oxygenCylinder" name="oxygenCylinder" required ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">beds</ion-label>
      <ion-input type="number" [(ngModel)]="beds" name="beds" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">drugs</ion-label>
      <ion-input type="number" [(ngModel)]="drugs" name="drugs" required ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">pulseOximeters</ion-label>
      <ion-input type="number" [(ngModel)]="pulseOximeters" name="pulseOximeters" required ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">bloodPressureMonitors</ion-label>
      <ion-input type="number" [(ngModel)]="bloodPressureMonitors" name="bloodPressureMonitors" required ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">heartRateMonitors</ion-label>
      <ion-input type="number" [(ngModel)]="heartRateMonitors" name="heartRateMonitors" required ></ion-input>
    </ion-item>
    <ion-button (click)="saveData()">Save</ion-button>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hospital Accomodation</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{currentCapacity}} / {{maxCapacity}}
      <ion-progress-bar value="{{currentCapacity/maxCapacity}}"></ion-progress-bar>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="notifications"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
