<ion-content [fullscreen]="true">
  <div class="topText" align="center">
    <h2 style="font-size:35px">Dashboard</h2>
   </div>
  <ion-card align="center">
    <ion-card-header>
      <ion-card-title>Hospitals</ion-card-title>
      <ion-list *ngFor="let hosp of allHospData">
        <ion-item>
          {{hosp.name}}: {{hosp.status.dsc}}
        </ion-item>
      </ion-list>
    </ion-card-header>
  </ion-card>  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentModal()">
    <ion-fab-button>
      <ion-icon name="notifications"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
