ion-content{
    --background: #FEECEC; 
}
.topText{
    background:#f6d9d8;
    border: 1px transparent;
    border-radius: 25px;
    height: 70px;
    margin: 40px;
    color: #EB9497;
    h2{
       
        padding-top: 15px;
    }
}
ion-card{
    margin: 40px;
    border:1px transparent;
    border-radius: 25px;
   
}
