ion-content{
    --background: #FEECEC; 
}
.topText{
    background:#FCD7D8;
    border: 1px transparent;
    border-radius: 25px;
    height: 70px;
    margin: 40px;
    color: #EB9497;
    font-family: "Europa-bold";  
    h2{
       
        padding-top: 15px;
    }
}
ion-card{
    margin: 40px;
    border:1px transparent;
    border-radius: 25px;
    font-family: "Europa-bold";  
    background: #FCD7D8;
    ion-card-title{
        font-size: 35px;
        color: #EB9497;
    }
   
}

   
    p{
        font-size: 18px;
        font-family: "Europa-bold"; 
        color: #E8A9AA;
    } 

    ion-card-content{
        ion-button{
            --background:#F1ADB0
        }
    }
