ion-content{
    --background: #FEECEC; 
}
.icon{
    margin-top: 25px;
    img{
        width: 40%;
    }
    h2{
        margin-top: -10px;
        font-size: 65px;
        color: #EB9497;
    }
    h1{
        font-size: 25px;
        color: #EB9497;
    }
}
.login{
    
    margin: 30px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
     ion-icon{
         color: white;
         padding: 10px;
     }
      ion-item{
       box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.3);
       color: white;
       border: 1px transparent;
       border-radius: 25px;
       --background: #c75f5f;
       opacity: 0.70;
       margin-bottom:20px ;
      }
      ion-input{
          color: white;
      }
      ion-label{
          font-size: 18px;
      }
   
}
.foot{
    margin: 40px; 
    opacity: 0.75;
}